<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima itaque
      optio cum quidem at magni? Perspiciatis quia saepe libero, necessitatibus
      ex a nostrum nisi possimus velit facere hic nobis illo est sed atque
      sapiente tenetur voluptatibus suscipit cum eligendi magni. Culpa tempora
      cum at quisquam quod repellat quos provident nostrum.
    </p>
  </div>
</div>
